@model ProductCreateUpdateViewModel;

@{
    ViewData["Title"] = "Creating new product";
}

<form method="post" action="Create">
	<div class="form-row">
		<div class="form-group w-25">
			<label>Supplier</label>
			<select name="SupplierId" class="form-control" asp-items="@(new SelectList(Model.Suppliers, "SupplierId", "CompanyName"))"></select>
		</div>
		<div class="form-group w-25">
			<label>Category</label>
			<select name="CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryName"))"></select>
		</div>
		<div class="form-group w-25 ml-3">
			<label>Product name:</label>
			<input type="text" class="form-control" required maxlength="9" name="ProductName" />
			<span asp-validation-for="ProductName" />
		</div>
	</div>

	<div class="form-row">
		<div class="form-group w-25 ml-3">
			<label>QuantityPerUnit:</label>
			<input type="text" class="form-control" required maxlength="9" name="QuantityPerUnit" />
			<span asp-validation-for="QuantityPerUnit" />
		</div>
		<div class="form-group w-25 ml-3">
			<label>UnitPrice:</label>
			<input type="number" class="form-control" required maxlength="9" name="UnitPrice" />
			<span asp-validation-for="UnitPrice" />
		</div>
		<div class="form-group w-25 ml-3">
			<label>UnitsInStock:</label>
			<input type="number" class="form-control" required maxlength="9" name="UnitsInStock" />
			<span asp-validation-for="UnitsInStock" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-group w-25 ml-3">
			<label>UnitsOnOrder:</label>
			<input type="number" class="form-control" required maxlength="9" name="UnitsOnOrder" />
			<span asp-validation-for="UnitsOnOrder" />
		</div>
		<div class="form-group w-25 ml-3">
			<label>ReorderLevel:</label>
			<input type="number" class="form-control" required maxlength="9" name="ReorderLevel" />
			<span asp-validation-for="ReorderLevel" />
		</div>
		<label>Discontinued</label>
		@Html.CheckBoxFor(x => x.Discontinued)
	</div>

	<input type="submit" class="btn btn-success mt-3" value="Create" />

</form>